<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SoftUni Ads</title>
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/angular-notify.css" rel="stylesheet" />
    <link href="styles/app.css" rel="stylesheet" />
</head>
<body ng-app="softUniAds" ng-cloak ng-controller="AppController">
    <ng-include src="'views/partials/header.html'"></ng-include>
    <main class="container-fluid">
        <div class="row">
            <ng-include src="'views/partials/left-sidebar.html'"></ng-include>
            <div ng-if="$route.current.pageName == 'home'" class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
                <alert ng-repeat="notification in notifications" type="{{notification.type}}" close="notification.close($index)">
                    <span ng-bind-html="notification.msg"></span>
                </alert>

                <ng-view></ng-view>
            </div>
            <div ng-if="$route.current.pageName != 'home'" class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                <alert ng-repeat="notification in notifications" type="{{notification.type}}" close="notification.close($index)">
                    <span ng-bind-html="notification.msg"></span>
                </alert>

                <ng-view></ng-view>
            </div>
            <div ng-if="$route.current.pageName == 'home'" ng-include src="'views/partials/right-sidebar.html'"></div>
    </main>
    <ng-include src="'views/partials/footer.html'"></ng-include>

    <script src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular-ui/ui-bootstrap.min.js"></script>
    <script src="lib/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/AppController.js"></script>
    <script src="scripts/controllers/HomeController.js"></script>
    <script src="scripts/controllers/LeftSidebarController.js"></script>
    <script src="scripts/controllers/RightSidebarController.js"></script>
    <script src="scripts/controllers/LoginController.js"></script>
    <script src="scripts/controllers/RegisterController.js"></script>
    <script src="scripts/controllers/user/UserAdsController.js"></script>
    <script src="scripts/controllers/user/UserProfileController.js"></script>

    <script src="scripts/services/NotificationService.js"></script>
    <script src="scripts/services/resources/AdsResource.js"></script>
    <script src="scripts/services/resources/CategoriesResource.js"></script>
    <script src="scripts/services/resources/TownsResource.js"></script>
    <script src="scripts/services/resources/ProfileResource.js"></script>
    <script src="scripts/services/AccountService.js"></script>

    <script src="scripts/filters/standard-date.js"></script>
    <script src="scripts/filters/status.js"></script>
</body>
</html>
