<form class="form-horizontal" name="adminDeleteCategoryForm">
    <fieldset>
        <legend>Confirm Deleting Category</legend>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <input type="text" ng-model="editCategory.name" class="form-control" id="name" placeholder="Name" disabled />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="deleteCategory()">Delete</button>
                <button type="reset" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>

