<form class="form-horizontal" name="adminDeleteProfileForm">
    <fieldset>
        <legend>Edit Profile</legend>
        <div class="form-group">
            <label for="edit-username" class="col-sm-2 control-label">Username</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <input type="text" ng-model="editUser.userName" class="form-control" id="edit-username" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="edit-name" class="col-sm-2 control-label">Name</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <input type="text" ng-model="editUser.name" class="form-control" id="edit-name" placeholder="Name" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="edit-email" class="col-sm-2 control-label">Email</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <input type="email" ng-model="editUser.email" class="form-control" id="edit-email" placeholder="Email" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="edit-phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <input type="text" ng-model="editUser.phoneNumber" class="form-control" id="edit-phone" placeholder="Phone" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="edit-town" class="col-sm-2 control-label">Town</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <select class="form-control" id="edit-town" ng-model="editUser.townId" disabled>
                    <option value="null">(None)</option>
                    <option ng-repeat="town in towns" value="{{ town.id }}">{{ town.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="deleteUser()">Delete</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>
