.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.well {
    word-wrap: break-word;
}

.item-heading {
    font-size: 1.5em;
}

.item-image {
    min-width: 75%;
    max-width: 100%;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.pagination {
    margin: 0 auto;
}

.filter-all {
    font-style: italic;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.image-box img {
    max-width: 100%;
    margin: auto;
}
