.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
}

.well {
    word-wrap: break-word;
}

.item-heading {
    font-size: 1.5em;
}

.item-image {
    min-width: 75%;
    max-width: 100%;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.pagination {
    margin: 0 auto;
}

.filter-all {
    font-style: italic;
}
