<aside class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Navigation</h3>
        </div>
        <div class="panel-body" ng-if="AccountService.isAnonymous()">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: $route.current.pageName == 'home'}"><a href="#/">Home</a></li>
            </ul>
        </div>
        <div class="panel-body" ng-if="AccountService.isLoggedIn()">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: $route.current.pageName == 'home'}"><a href="#/">Home</a></li>
                <li ng-class="{active: $route.current.pageName == 'myads'}"><a href="#/user/ads">My Ads</a></li>
                <li ng-class="{active: $route.current.pageName == 'publish'}"><a href="#/user/publish">Publish New Ad</a></li>
                <li ng-class="{active: $route.current.pageName == 'profile'}"><a href="#/user/profile">Edit Profile</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info" ng-if="AccountService.isAnonymous()">
        <div class="panel-body">
            <p>To publish a new ad, please log in or register.</p>
            <a class="btn btn-block btn-info" href="#/login">Login</a>
            <a class="btn btn-block btn-info" href="#/register">Register</a>
        </div>
    </div>

    <div class="panel panel-primary" ng-if="AccountService.isAdmin()">
        <div class="panel-heading">
            <h3 class="panel-title">Administration</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: $route.current.pageName == 'adminAds'}"><a href="#/admin/ads">Ads</a></li>
                <li ng-class="{active: $route.current.pageName == 'adminUsers'}"><a href="#/admin/users">Users</a></li>
                <li ng-class="{active: $route.current.pageName == 'adminCategories'}"><a href="#/admin/categories">Categories</a></li>
                <li ng-class="{active: $route.current.pageName == 'adminTowns'}"><a href="#/admin/towns">Towns</a></li>
            </ul>
        </div>
    </div>
</aside>